@import url(reset.css);





.wrapper{
	max-width: 900px;
	margin:0 auto;
	
}


h1 {font-family: 'Lobster', cursive;
}

h1, .h1{
	font-size: 1.7em;
	width: 50%;
	margin:20px auto;
	text-align: center;
}

p{font-family: 'Rubik', sans-serif;
}
.logo{
	
}

@media screen and (max-width: 600px){
	
	img { width: 100%;}
}
li {margin-right: -4px;}
ul {
  list-style: none; 
  margin: 0 auto;
}
a {
  text-decoration: none;
  font-family: 'Lora', serif;
  transition: .5s linear;
}
i {
  margin-right: 10px;
  
  }
nav {
  display: block;
  width: 366px;
  margin: 0 auto 30px;
}

.one ul {
  padding: 1em 0;
  background: #ECDAD6;
}
.one a {
  padding: 1em ;
  background: rgba(177, 152, 145, .3);
  border-right: 1px solid #b19891;
  color: #695753;}


  .one a:hover {background: #c0b7e2;}
.one li {
  display: inline;
}
/*//////////////////////one//////////////////////////////////////*/
.two ul {
  background: #D4E7EE;
  overflow: hidden;
  padding: 0;
}
.two li {
  float: left;
}
.two a {
  display: block;
  padding: 1em;
  border-right: 4px solid #ADC0CE;
  background: rgba(173, 192, 206, .3);
  color: #29838C;
}
.two a:hover {background: #ADC0CE}
.three ul {
  padding: 0;
  background: #E4EFD1;
}
/*//////////////////////two//////////////////////////////////////*/
 .img obrat {
    position: fixed;
    right: 10px;
    top: 10px;
    background: #fee;
	margin-right:150px;
  }
