@import url(reset.css);

.nav{ width: 512px;
 height: 47px;
 position: absolute;
 top:42px;
 left:370px;
text-transform: uppercase;
  
 } 
  .nav li{float: left;
  margin-right: 25px;}
 
.nav li a {
	text-decoration: none;
	color: #3f3f3f;
}
.nav li a.active, nav li a:hover{
	color: #2c789c;
}
